<header>
  <div class="logoBlog">
    <span>
      <i class="fa-solid fa-blog"></i>
      <h1> Meu Blog</h1>
    </span>
  </div>

  <nav>

    <ul>
      <li> <a href="/"> Meus Posts </a></li>
      <li> <a href="/novopost"> Criar novo Post </a></li>
    </ul>

  </nav>


  <span class="footer">

    <ul>

      <li><a href=""><i class="fa-solid fa-earth-americas"></i></a></li>
      <li><a href=""><i class="fa-brands fa-github"></i></a></li>
      <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>

    </ul>
    
    <p>Desenvolvido por: <a href="">Yuri Ramos</a> </p>
  </span>

</header>