@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap");
* ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
* a {
  text-decoration: none;
}
* button {
  border: none;
  outline: none;
  background-color: transparent;
}

body {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #161825;
  width: 300px;
  height: 100vh;
}
header .logoBlog span {
  display: flex;
  gap: 10px;
}
header .logoBlog span i {
  display: flex;
  align-items: center;
  font-size: 36px;
  color: white;
}
header .logoBlog span h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
}
header nav {
  margin-top: 50px;
}
header nav ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
header nav ul li a {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  color: white;
  font-weight: 700;
  transition: 0.5s ease-in-out;
}
header nav ul li a:hover {
  color: pink;
}
header .footer {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header .footer ul {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
header .footer ul li a {
  color: white;
  font-size: 28px;
}
header .footer p {
  position: relative;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: white;
}
header .footer p a {
  color: pink;
}
header .footer p::after {
  content: "";
  position: absolute;
  background-color: pink;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 90%;
  height: 1px;
}

main {
  margin-left: 300px;
  width: 100%;
  height: 100%;
}
main h2 {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #666870;
  padding-left: 100px;
  font-family: "Montserrat", sans-serif;
}
main h2 i {
  color: pink;
  font-size: 25px;
}
main ul {
  display: flex;
  gap: 40px;
  flex-direction: column;
  width: 100%;
  height: 90%;
  padding: 20px;
  overflow-y: scroll;
}
main ul li {
  position: relative;
  font-family: "Montserrat", sans-serif;
  width: 90%;
  border: 1px solid rgb(222, 226, 230);
  box-shadow: rgba(0, 0, 0, 0.17) 0px 0px 30px -8px;
  padding: 15px;
  border-radius: 14px;
}
main ul li h3 {
  color: #666870;
  font-family: "Montserrat", sans-serif;
}
main ul li span {
  position: absolute;
  display: flex;
  gap: 10px;
  top: -20px;
  right: 25px;
}
main ul li span i {
  cursor: pointer;
  font-size: 24px;
  text-align: center;
  color: #e88394;
  border: 1px solid #d9d5d5;
  background-color: white;
  border-radius: 8px;
  width: 30px;
  padding: 5px;
}